wsXmlModel/WebConfig/Web.Config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="connectionStrings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="add" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="add">
		<xs:complexType>
			<xs:attribute name="providerName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="System.Data.OracleClient"/>
						<xs:enumeration value="System.Data.SqlClient"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="MSSQL"/>
						<xs:enumeration value="Oracle"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="connectionString" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
