trunk/wsXmlModel/ConnectionsV2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="UserName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="weihp"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SqlSecurity" type="xs:boolean"/>
	<xs:element name="Server">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=".\SQLEXPRESS"/>
				<xs:enumeration value="192.168.1.4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Persist" type="xs:boolean"/>
	<xs:element name="Password" type="xs:string"/>
	<xs:element name="ID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="a227fb82-8e77-4297-a037-c08cd4b366e6"/>
				<xs:enumeration value="f5e4d7f7-e259-49f2-9465-488692f665df"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Connection">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Connection" maxOccurs="unbounded"/>
				<xs:sequence>
					<xs:element ref="ID"/>
					<xs:element ref="Persist"/>
					<xs:element ref="Server"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="SqlSecurity"/>
						<xs:element ref="UserName"/>
						<xs:element ref="Password"/>
					</xs:sequence>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
