trunk/wsXmlModel/multiTable2oneXML_spy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="StreamNodes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Sequence"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sequence">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Field" maxOccurs="unbounded"/>
				<xs:element ref="FlowDisigner" maxOccurs="unbounded"/>
				<xs:element ref="Message" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Protocol">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="abc"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OutputValues">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Sequence"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OutputName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="a"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MessageType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="abc"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MessageStatus">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="a"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MessageParameter">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="a"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MessageNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="a"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MessageLevel">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="a"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Protocol"/>
				<xs:element ref="MessageType"/>
				<xs:element ref="Condition"/>
				<xs:element ref="OutputName"/>
				<xs:element ref="MessageLevel"/>
				<xs:element ref="MessageStatus"/>
				<xs:element ref="MessageNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FlowName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="weihp"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FlowLock">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="yes"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FlowExpert">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="yes"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FlowDisigner">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FlowDefine"/>
				<xs:element ref="StreamNodes"/>
				<xs:element ref="OutputValues"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FlowDesigners">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Sequence"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FlowDefine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FlowName"/>
				<xs:element ref="FlowExpert"/>
				<xs:element ref="FlowLock"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FieldType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="a"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FieldNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="a"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FieldName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="a"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FieldLength">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="a"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Field">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MessageNumber"/>
				<xs:element ref="MessageParameter"/>
				<xs:element ref="FieldNumber"/>
				<xs:element ref="FieldName"/>
				<xs:element ref="FieldType"/>
				<xs:element ref="FieldLength"/>
				<xs:element ref="BulkSql"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ExpertDefines">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FlowDesigners"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Condition">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="a"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="BulkSql">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="yes"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
